[submodule "astro"]
	path = astro
	url = https://github.com/OhanaMGH/astro.git
[submodule "django"]
	path = django
	url = https://github.com/OhanaMGH/django.git
[submodule "next"]
	path = next
	url = https://github.com/OhanaMGH/next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/OhanaMGH/Angular.git
[submodule "Express"]
	path = Express
	url = https://github.com/OhanaMGH/Express.git
